@model IEnumerable<WebVolait.Models.Funcionario>
@{
    ViewBag.Title = "Listar";
}

<link rel="stylesheet" href="~/Content/bootstrap.css" />

<br /><p>@Html.ActionLink("Novo Funcionario", "Index")</p>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(m => m.NomeCompleto_Func)
        </th>

        <th>
            @Html.DisplayNameFor(m => m.NomeSocial_Func)
        </th>

        <th>
            @Html.DisplayNameFor(m => m.CPF_Func)
        </th>

        <th>
            @Html.DisplayNameFor(m => m.Email_Func)
        </th>

        <th>
            @Html.DisplayNameFor(m => m.Senha_Func)
        </th>

        <th>
            @Html.DisplayNameFor(m => m.Telefone_Func)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.NomeCompleto_Func)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.NomeSocial_Func)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.CPF_Func)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Email_Func)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Senha_Func)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Telefone_Func)

            <td>
                @Html.ActionLink("Alterar", "AltJogo", null, new { cdFunc = item.CPF_Func }, new { @class = "btn btn-primary btn-xs" })
                @Html.ActionLink("Deletar", "DelJogo", null, new { cdFunc = item.CPF_Func }, new { @class = "btn btn-danger btn-xs" })
            </td>

        </tr>

    }

</table>
