@model WebVolait.Models.Venda
@{
    ViewBag.Title = "Index";
}

<h2>Novo <b>Venda</b></h2>

@using (Html.BeginForm("Venda", "Venda", FormMethod.Post))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend> Cadastro de Vendas </legend>

        <div class="editor-label">
            @Html.LabelFor(m => m.NotaFiscal)
        </div>
        <div class="editor-field">
            @Html.EditorFor(m => m.NotaFiscal)
            @Html.ValidationMessageFor(m => m.NotaFiscal)
        </div>

        <div class="editor-label">
            @Html.LabelFor(m => m.Cod_TipoPagto)
        </div>
        <div class="editor-field">
            @Html.EditorFor(m => m.Cod_TipoPagto)
            @Html.ValidationMessageFor(m => m.Cod_TipoPagto)
        </div>

        <div class="editor-label">
            @Html.LabelFor(m => m.Cod_Func)
        </div>
        <div class="editor-field">
            @Html.EditorFor(m => m.Cod_Func)
            @Html.ValidationMessageFor(m => m.Cod_Func)
        </div>

        <div class="editor-label">
            @Html.LabelFor(m => m.Cod_Cli)
        </div>
        <div class="editor-field">
            @Html.EditorFor(m => m.Cod_Cli)
            @Html.ValidationMessageFor(m => m.Cod_Cli)
        </div>

        <div>
            <br><input type="submit" value="Enviar" />
        </div>

    </fieldset>
}

