@model WebVolait.Models.Venda
@{
    ViewBag.Title = "Venda";
}

<link rel="stylesheet" href="~/Content/bootstrap.css" />

<h2>Novo <b>Venda</b></h2>

@using (Html.BeginForm("Venda", "Venda", FormMethod.Post))
{
    @Html.ValidationSummary(true)

<fieldset>
    <legend> Cadastro de Vendas </legend>

    <div class="editor-label">
        @Html.LabelFor(m => m.NotaFiscal)
    </div>
    <div class="editor-field">
        @Html.EditorFor(m => m.NotaFiscal)
        @Html.ValidationMessageFor(m => m.NotaFiscal)
    </div>

    <div class="editor-label">
        @Html.LabelFor(m => m.Data_Venda)
    </div>
    <div class="editor-field">
        @Html.EditorFor(m => m.Data_Venda)
        @Html.ValidationMessageFor(m => m.Data_Venda)
    </div>

    <div class="editor-label">
        @Html.LabelFor(m => m.Cod_TipoPagto)
    </div>
    <div class="editor-field">
        @Html.EditorFor(m => m.Cod_TipoPagto)
        @Html.ValidationMessageFor(m => m.Cod_TipoPagto)
    </div>

    <div class="editor-label">
        @Html.LabelFor(m => m.CPF_Func)
    </div>
    <div class="editor-field">
        @Html.EditorFor(m => m.CPF_Func)
        @Html.ValidationMessageFor(m => m.CPF_Func)
    </div>

    <div class="editor-label">
        @Html.LabelFor(m => m.CPF_Cli)
    </div>
    <div class="editor-field">
        @Html.EditorFor(m => m.CPF_Cli)
        @Html.ValidationMessageFor(m => m.CPF_Cli)
    </div>

    <div class="editor-label">
        @Html.LabelFor(m => m.Valor_Venda)
    </div>
    <div class="editor-field">
        @Html.EditorFor(m => m.Valor_Venda)
        @Html.ValidationMessageFor(m => m.Valor_Venda)
    </div>

    <div>
        <br><input type="submit" value="Enviar" />
    </div>

</fieldset>
}

